
.DS_Store
.DS_Store
.Rproj.user
.Rhistory
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/paths
.Rhistory
.RData
.Rhistory
.Rproj.user/shared/notebooks/paths
/.Rproj.user/shared/notebooks
/.Rproj.user/shared
/.Rproj.user
/.Rproj.user/shared/notebooks
